body{
background-color: #F0FFFF;
font-family: 'Architects Daughter', cursive;
color:  #4d4d4d;
}
.listings_master_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.listing_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  padding: 10px;
  border-radius: 25px;
margin: 10px;

span{
  font-size: 40px;
}
  img{
    height: 264px;
    padding: 0.5em;
    border-radius: 15px;
  }
  .fav{
    border: none;
    background-color: inherit;
    margin-left:13em;
    border-radius: 5px;
    i{
    font-size: 25px;
    color: #4d4d4d;
    }
    i:hover{
      color:#DC143C;
    }
  }
  .contact{
    border: none;
    background-color: inherit;
    border-radius: 5px;
    background-color: #3CB371;
    a{
      text-decoration: none;
      color: white;
    }
  }
  .contact :hover{
    color: lightgrey;
  }
  .listing-bottom{
    display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 0.5em;
  }
}

.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 3em;
}

input{
  border-radius: 25px;
  border: 1px solid #ccc;
  background: inherit;
  width: 250px;
  height: 45px;
  padding-left: 0.6em;
  font-family: initial;
}
input:focus{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}
input:focus, textarea:focus, select:focus{
  outline: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  background-color: #3CB371;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  font-size: 25px;
  padding: 1em;
}

.new-listing{
  display: flex;
  align-items: center;
 flex-direction: column;
 input{
   padding: 1em;
 }
}

.listing-info{
  font-family: 'Poppins', sans-serif;
}

.nav-btn{
 button{
  border: 1px solid white;
  background-color: inherit;
  border-radius: 20px;
  background-color: #3CB371;
 }

}
.nav-btn button:hover{
  color: lightgrey;
 }

 .delete{
  border: none;
  background-color: inherit;
  border-radius: 5px;
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
  color: #F0FFFF;
 }
 .delete:hover{
  color: lightgrey;
 }
 .fav{
   color: red;
   font-size: 25px
 }
 .fav:hover{
  border: none;
  background-color: inherit;
  background-color: lightgrey;
 }
 .unfav{
  border: none;
  background-color: inherit;
  font-size: 27px;
  border-radius: 5px;
 }
 .unfav:hover{
  background-color: lightgrey;
 }

//  .delete {
//    display: none
//  }
